<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>my app About</title>
</head>
<body>
    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque quas consequatur, quis ea iste delectus dolorum nisi atque mollitia quae! Sapiente explicabo voluptas temporibus tenetur expedita praesentium facere distinctio deleniti voluptatem doloremque, reprehenderit ea eveniet facilis, ratione, illum minima. Voluptatibus reprehenderit deserunt dolores pariatur, consequatur sed porro quidem debitis fugit, enim blanditiis magnam qui explicabo nemo illum odit optio eos nam soluta eligendi dolor molestias. Totam at dolor vitae praesentium cum iste, eum ratione qui culpa asperiores, ipsum atque? Fuga voluptatem optio quisquam hic nemo ratione tempora placeat similique minima labore ex illo numquam, quos voluptatum quod! Quae, sequi molestiae!</p>
</body>
</html>